@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&amp;display=swap");
@import "tailwindcss";

@theme {
    --color-card-border: #1c1c21;
    --color-card-bg: #00081a;
    --color-card-txt: white;
    --color-bg-color: #506A98;
    --color-highlight: blue;
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}



@layer base {
  :root {
    font-family: "Unbounded", sans-serif;
    font-size: 0.95rem;
    font-weight: 200;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
}

/****************************/
/* Fire text effect */
/****************************/



.card .text-highlight {
  animation: fire 1s ease-in-out infinite alternate;

  text-shadow:
          0 0 10px #fefcc9,
          5px -3px 15px #feec85,
          -10px -6px 20px #ffae34,
          10px -12px 25px #ec760c,
          -10px -18px 30px #cd4606,
          0 -22px 35px #973716,
          5px -26px 40px #451b0e;
}

@keyframes fire {
  0% {
    text-shadow:
            0 0 10px #fefcc9,
            5px -3px 15px #feec85,
            -10px -6px 20px #ffae34,
            10px -12px 25px #ec760c,
            -10px -18px 30px #cd4606,
            0 -22px 35px #973716,
            5px -26px 40px #451b0e;
  }
  100% {
    text-shadow:
            0 0 10px #fefcc9,
            5px -3px 15px #fefcc9,
            -10px -6px 20px #feec85,
            11px -13px 30px #ffae34,
            -11px -18px 25px #ec760c,
            0 -23px 40px #cd4606,
            5px -26px 40px #973716;
  }
}



/****************************/
/* card border hover effect */
/****************************/
.card {
  --start: 0;
  position: relative;
  z-index: 40;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);

  background-attachment: local;

  mask:
          linear-gradient(#0000, #0000),
          conic-gradient(
                  from calc((var(--start) - 15) * 1deg),
                  #ffffff1f 0deg,
                  white 10deg,
                  #ffffff00 100deg
          );
  mask-size: 200% 200%;
  mask-position: center center;
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.5s ease;
}

.card:hover::before {
  opacity: 1;
}

.card-border {
  @apply border border-card-border bg-card-bg;
}

/**************************/
/* Hero text hover effect */
/**************************/
.word {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.char {
  transition: 0.3s ease-in-out;
  --mt: 0px;
  --rot: 0deg;
}

.group:hover .char {
  margin-top: var(--mt, 0px);
  transform: rotate(var(--rot, 0deg));
}
